<h2>Results</h2>
<p>Name: <%= @name %></p>
<p>Screen Name: @<span id="screenname"><%= @screenname %></span></p>
<p>Followers: <%= @followers %></p>
<p>Bio: <%= @bio %></p>
<p>Number of Retweets: <%= @num_retweets %> (<%= @retweet_percentage.round %>% of last <%= @total_num_tweets %>)</p>
<p>Average Number of Tweets Per Day: <%= @tweets_per_day %></p>
<p>Tweets with Links: <%= @tweets_with_links %> (<%= @tweet_with_links_percentage.round %>% of last <%= @total_num_tweets %>)</p>
<p>Tweet Similarity Rating: <%= @similarity_scores_array[0] %>%</p>
<p>Repeated Tweets: <%= @similarity_scores_array[1] %></p>
<p>Similar Tweets: <%= @similarity_scores_array[2] %></p>
<p>Total Tweets: <%= @total_num_tweets %> tweets since <%= @first_recorded_tweet.strftime "%b %e, %Y" %></p>
<p>Followbility Score: <%= @followbility_score %></p>
<br>
<canvas id="myChart" height="300" width="400"></canvas>
<div id="tpd_keys"><%= @tpd_keys %></div>
<div id="tpd_values"><%= @tpd_values %></div>
